* {
    margin: 0;
    padding: 0;
}
.maindivfaq {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    gap: 96px;
    padding: 96px 280px;
}
.faqdiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1250px;
    margin-left: 100px;
    
}
.firstdivfaq {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    width: 410px;
}
.seconddivfaq {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    /* width: 100%; */
}
.subheadfaq {
    color: var(--Blue-700, #175cd3);
    font-family: "Large-Semibold", Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    align-self: stretch;
}
.txtfaq {
    color: var(--Gray-800, #1d2939);
    font-family: "Large-Semibold", Helvetica, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
    align-self: stretch;
}
.everythingfaq {
    align-self: stretch;
    color: var(--Gray-500, #667085);
    font-family: "Regular-Semibold", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.txtfaq1 {
    align-self: stretch;
    color: var(--Gray-500, #667085);
    font-family: "Regular-Semibold", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
}
.thirddivfaq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 750px;
    /* margin-right: 20px; */
}
.firstfaq {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Gray-50, #f9fafb);
    display: flex;
    padding: 25px;
    gap: 12px;
    align-items: flex-start;
    align-self: stretch;
}
.firstfaqdiv {
    display: flex;
    flex-direction: column;

}
.faq1txt {
    color: var(--Gray-900, #101828);
    font-family: "Inter-Semibold", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    align-self: stretch;
    padding-bottom: 8px;
}
.faq1ans {
    align-self: stretch;
    color: var(--Gray-600, #475467);
    font-family: "Large-Semibold", Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.secondfaqdiv{
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 16px;
    padding: 20px;
    gap: 12px;

}
