.pt {
    color: var(--Gray-600, #475467);
    text-align: center;
    font-family: "Medium-Semibold", Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    align-self: stretch;
   
}
.seconddivsoc {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 48px 60px;
}
.firstdivsoc{
    padding: 96px 280px;
}
